.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .admin-blog-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .action-icon {
            cursor: pointer;
            font-size: 1.5em;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $warning;
            }
        }
    }

    .new-blog-link {
        position: fixed;
        right: 0;
        bottom: 0;

        a {
            font-size: 3em;
            cursor: pointer;
            color: $orange;
            margin-right: 15px;
            margin-bottom: 15px;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $dark-orange;
            }
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        // width: 50%;
        width: 800px;

        a {
            text-decoration: none;
            color: $orange;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $dark-orange;
            }
        }

        h1 {
            font-size: 1.5em;
        }

        .blog-detail-title {
            font-family: 'Titillium Web', sans-serif;
        }

        .featured-image-wrapper {
            img {
                margin: 15px 0px;
                width: 100%;
                height: 350px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }

    .blog-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 200px;

        h1 {
            font-size: 2em;
            color: $dark-orange;
        }
    }
}