.homepage-wrapper {
    height: calc(100vh - 84px);
    width: 100vw;

    .homepage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .home-block {
            width: 100vw;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 110, 255, 0.863);

            h1 {
                font-size: 6em;
            }
        }

        .welcome-text {
            width: 75vw;
            font-size: 2.25em;
            text-align: center;
            color: black;
            background-color: rgba(0, 110, 255, 0.863);
            padding: 40px;
            border-radius: 0px 0px 50px 50px;
        }
    }
}